# All emails used by Natalie Neshama
Neshama <neshametha@gmail.com> <natalie.jewel@live.com>
Neshama <neshametha@gmail.com> <nat.jewel@outlook.com>
Neshama <neshametha@gmail.com> <neshama@mac.mynetworksettings.com>
Neshama <neshametha@gmail.com> <neshama@Cupid.local>
Neshama <neshametha@gmail.com> <natalie@nesha.ma>