html {
    width: 100%;
}

body {
    background: #1c0142;

    width: 100%;

    margin: 0px auto;

    text-align: center;
    color: #fff;
    font: 14px "Arial Narrow", sans-serif;
}

a {
    color: #00ebbe;
}

a:hover, a:visited {
    color: #68b8d2;
}

img a {
    border: 0px;
    text-decoration: none;
}

#meat {
    display: block;
    width: 70%;

    margin: 10px auto;
    border: 0px;
    padding: 0px;

    text-align: center;
}

table {
    display: block;
    width: 100%;

    margin: 5px 3px;
    border: 0px;
    padding: 0px;
}

.salt {
    display: block;
    width: 50%;

    text-align: left;
}

.pepper {
    vertical-align: bottom;
    width: 50%;

    text-align: right;
}

.potatoes {
    display: block;
    width: 100px;

    margin: 2px 0px 0px 0px;
    border: 7px solid #00ebbe;
    border-radius: 25px;
    padding: 0px 3px 5px;

    text-align: center;
}

map {
    display: inline;
    width: 100%;
    height: 35px;

    margin: 0px 0px 3px;
    border-top: 3px solid #00ebbe;
}

#dessert, .alamode {
    text-align: center;
    color: #fff;
    font-size: 12px;
}

.alamode b {
    color: #68b8d2;
}

.sprinkles a {
    color: #00ebbe;
}

.sprinkles a:hover, a:visited {
    color: #68b8d2;
}