body {
    background: #1c0142;

    text-align: center;
    color: #fff;
}

a {
    color: #00ebbe;
}

a:hover, a:visited {
    color: #68b8d2;
}

img a {
    border: 0px;
}

#meat {
    width: 70%;

    margin: auto;
    margin-top: 15px;
    border: 0px;
    padding: 0px;

    text-align: left;
}

.potatoes {
    margin: 2px 0px;
    border: 7px solid #00ebbe;
    border-radius: 25px;
    padding: 2px 3px;
}

#header {
    display: inline;

    margin: 5px 3px;
    border: 0px;
    padding: 0px;
}

.logo {
    text-align: left;
}

.social {
    text-align: right;
}

#footer {
    text-align: center;
    color: #fff;
}

.garnish a {
    color: #00ebbe;
}

.update {
    color: #00ebbe;
}

.garnish a:hover, a:visited {
    color: #68b8d2;
}

.update b {
    color: #68b8d2;
}